html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

.wrapper {
    height: 100%;
    width: 100%;
}

/* Side bar */
.side-bar {
    width: auto;
    height: 100%;
    background-color: rgb(54, 68, 82);
}

.side-bar a{
    color: white;
    font-size: 20px;
}

.side-bar a:hover{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

.active-side-bar-item {
    border-left: 3px solid #65C1F3;
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

.list{
    width: 100%;
    height: 100%;
}

.side-bar-item {
    height: 5%;
    width: 100%;
}

.side-bar-item:hover{
    border-left: 3px solid #65C1F3;
}
