body {
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.wrapper {
    height: 100%;
    width: 100%;
}

.nav {
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, #fc9c03, #dc5323);
}

.navbar {
    min-height: 70px;
    width: 100%;
}

.logo {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-bar {
    width: 15%;
    background-color: blue;
}