html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
}

.wrapper {
    height: 100%;
    width: 100%;
}

.article-management {
    height: 100%;
    width: 100%;
}

.management_content {
    height: 100%;
    width: 100%;
}

.management {
    height: 100%;
    width: 80%;
}


.management a {
    color: #494949;
    font-size: 15px;
    width: auto;
    height: 50px;
}

.management a:hover {
    color: #FF7E00;
    text-decoration: none;
}

.i_choose .btn{
    margin-top: 10px;
    width: 50px;
}

.search {
    height: 50px;
}

.management_all {
    height: 75%;
    width: 100%;
    overflow-y: auto;
}

.items {
    height: 150px;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.836);
    border-radius: 12px;
    border: 2px solid grey;
}

.i_content p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1; /* Số dòng tối đa trước khi xuất hiện dấu ba chấm */
    line-clamp: 1;
    color: gray;
    font-size: 13px;
    margin-bottom: 0 !important;
}

.i_title, h5{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1; /* Số dòng tối đa trước khi xuất hiện dấu ba chấm */
    line-clamp: 1;
}
