html,
        body {
            height: 100%;
            width: 100%;
            margin: 0;
        }

        .wrapper {
            height: 100%;
            width: 100%;
        }

        .content {
            width: 100%;
            height: 100%;
        }

        .left-content {
            width: 80%;
        }

        .course_abcxyz .image-link {
            position: relative;
            display: block;
            overflow: hidden;
        }

        .course_abcxyz img {
            width: 100%;
            height: 150px;
            object-fit: cover;
        }

        .course_abcxyz .text-overlay {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            background-color: rgba(0, 0, 0, 0.59);
            color: #fff;
            font-size: 15px;
            text-align: center;
            z-index: 1;
            pointer-events: none;
            margin-top: 0.1em;
            margin-bottom: 0.1em;
            width: 100%;
            bottom: 0;
            padding-left: 1.5em;
            padding-right: 1.5em;
            padding-top: 1em;
            padding-bottom: 1em;
        }