html, body {
    font-family: "Open Sans", sans-serif;
}

/* margin top */
.mt-10{
    margin-top: 100px;
}

/* HEADER */
/* NAVBAR */
.top-bar{
    height: 25px;
}

.navbar img{
    max-height: 40px;
}

.navbar {
    background: linear-gradient(to bottom, #fc9c03, #dc5323);
    color: white;
    height: 60px;
    justify-content: center;
}

.nav-item {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Artiest Education */
.Artiest-Education_img img{
    height: 400px;
}

.btn-ae {
    display: inline-flex;
    background-color: #FF6600;
    text-decoration: none; /* Initial text-decoration property */
    transition: background-color 0.3s ease; /* Initial transition property */
    
}

.btn-ae:hover {
    background-color: #CC5200;
    text-decoration: none; /* You can remove this line if you don't want to change text-decoration on hover */
}


.Watch-Now {
    background-color: #FF6600;
    background-image: url(../images/sparkle1.png), url(../images/sparkle2.png);
    animation: sparkle 60s linear infinite;
}

@keyframes sparkle {
    0%, 100% {
        opacity: 1;
        transform: translate(0, 0);
    }
    50% {
        opacity: 0.7;
        transform: translate(-10px, -10px);
    }
}


.btn-wn {
    color: white;
    transition: background-color 0.3s ease;
    border: 2px solid white !important;


}

.btn-wn:hover {
    background-color: white;
    text-decoration: none;
    color: gray;
}

.About-Us img{
    max-height: 60px;
}

.Education{
    background: url('/assets/images/bg4.jpg') ;
    background-size: cover;
    background-color: #177806;
    width: 100%;
    height: 100%;
}

.Education_card{
    height: auto;
    width: auto;
}

.ec{
    border: 0px !important;
    border-radius: 0.25rem !important;
    background-color: rgba(0, 0, 0, 0) !important;
}

.Parents-feeling {
    background: url('/assets/images/parent-feeling-bg.jpg');
    background-size: cover;
    height: 390px;
}

.pt-md-6{
    padding-top: 60px;
}

.News{
    background-color:#E2E2E2;
}

.post{
    height: 150px;
    width: 150px;
    margin-bottom: 30px;
}

.news-item{
    height: 100%;
    width: 100%;
    display: flex;
}

.news-img{
    height: 100%;
    width: 30%;
    background-color: red;
}

.news-content{
    height: 100%;
    width: 70%;
    background-color: white;

}

.footer-container{
    height: 150px;
}

.footer-content{
    height: 50px;
}

.footer-logo img{
    height: 80px;
}