body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0 !important;
}

.wrapper{
    height: 100%;
    width: 100%;
}

.new-post{
    height: 100%;
}

.test_content{
    height: 100%;
    width: 100%;
}

.side-bar_right{
    height: auto;
    width: 20%;
    border-left: 1px solid black;
    padding: 48px 10px 0 10px;
}


.btn{
    width: 100px;
    margin: 5px;

}