html, body{
    width: 100%;
    height: 100%;
    margin: 0;
}

.wrapper{
    width: 100%;
    height: 100%;
}

.schedule_content{
    width: 100%;
    height: 100%;
}

.schedule_information table tbody tr {
    border-bottom: 1px solid #666;
}

/* Add this to your existing stylesheet or create a new one */
.schedule_information td {
    padding: 5px;
}
